<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create Order</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action="/orders" th:action="@{/orders}" th:object="${order}" method="post">
		<select th:field="*{productId}" id="selectProduct" name="selectProduct">
			<option
				th:each="product : ${products}"
				th:value="${product.id}"
				th:text="${product.name}" />
		</select>
		<p><input type="submit" value="Order Product" /></p>
	</form>
</body>
</html>