<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Typ" content="text/html; charset=UTF-8" />
	<title>Product</title>
</head>
<body>
<h1 th:text="${product.name}" ></h1>
<p th:text="${product.description}" />
<p th:text="${product.price}" />
<br />

<a href="/products">All Products</a>
</body>
</html>