<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Typ" content="text/html; charset=UTF-8" />
	<title>Products</title>
</head>
<body>
<h1>Products</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Price</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="product:${products}">
			<td><a th:text="${product.name}" th:href="@{'/products/'+ ${product.id}}"></a></td>
			<td th:text="${product.description}" />
			<td th:text="${product.price}" />
		</tr>
	</tbody>
</table>
<br />
<a href="/products/new">New Product</a>
<br />
<a href="/orders/new">Place Order</a>
</body>
</html>